.best-book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  &__img {
        display: block;
        width:10rem;
        height:15rem;
        transition: all .3s;    
    }
    &__img:hover {
        transform: scale(1.1);
    }
}
.search {
    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__input {
        padding:.8rem 2rem;
        border: none;
        font-size: inherit;
        border-radius: 3px;
        font-size: 1.1rem;
        border: 2px solid transparent;
        &:not(:last-child){
            margin-bottom: 2rem;
        }
        &:focus,
        &:active {
            outline:none;
            background-color: $color-grey-light;
            box-shadow: $box-shadow;
            border-bottom: 2px solid $color-blue-1;  
        }
    }
}