.heading-1 {
    color: $color-white;
    font-size: 2.3rem;
    font-weight: 500;
    transition: all .3s;
    &:hover {
        transform: skewY(2deg);
    }
}
.heading-2 {
    color:$color-grey-dark;
    font-size: 1.6rem;
    font-weight: 600;
}